
:root {
    --tangelo: rgba(251, 80, 18, 1);
    --rich-black: rgba(13, 19, 33, 1);
    --periwinkle: rgba(174, 184, 254, 1);
    --ivory: rgba(244, 249, 233, 1);
    --prussian-blue: rgba(29, 45, 68, 1);
}

.customnav{
    background-color: var(--prussian-blue) !important;
    color: var(--ivory);
}

.navbar a{
    color: var(--ivory);
}

.navbar a:hover{
    color: var(--periwinkle);
}

.navbaractive{
    color: var(--tangelo) !important;
}

.navbar-toggler{
    background-color: var(--tangelo);
}

.img-fluid{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

.logo-image{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-img{
    display: flex;
    justify-content: flex-end;
    background-color: var(--periwinkle);
}

.title-card{
    color: var(--tangelo);
    position: absolute; 
    top: 20vh; 
    width: 100%;
    opacity:1;
    font-size: 10vh;
    text-align: center;
    text-shadow: 4px 4px 4px var(--prussian-blue);
}

@media screen and (min-width: 500px) {
    .title-card{
        font-size: 10vh;
    }
    
}

.container p a{
    color: var(--tangelo);
    text-decoration: none;
}

.img-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5rem;
    flex-direction: row;
}

.img-grid p{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 4rem;
    min-width: 300px;
}

.img-grid img{
    background-color: var(--ivory);
    min-width: 100px;
    max-width: 300px;
    max-height: 80px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
.zoom:hover {
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1); 
}

.covers>figure {
    position: relative;
    width:auto;
  }
  
  .covers>figure>figcaption {
    display:none;
  }
  
  .covers figure:hover > figcaption {
    display: inline-block;
    font-size: 0.8rem;
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: -10px;
    background-color: var(--rich-black);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 0px;
  }
  
  .covers figure {
    min-height: 100px;
  }